__init__.py
*.pyc
*.so
/tuples
/results
/*.pb
/Training/python/build
/Training/python/sf_calc.c*
/Training/python/fill_grid.c*
.ipynb_checkpoints
.DS_Store
*.svg
*.swp
/soft
.vscode
/.law
/data
/.crabOverseer